@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #ffd89b;

    --background: 39 65% 6.4%;
    --foreground: 39 10% 99%;

    --muted: 39 50% 24%;
    --muted-foreground: 39 10% 58%;

    --popover: 39 45% 10.4%;
    --popover-foreground: 39 10% 99%;

    --card: 39 45% 10.4%;
    --card-foreground: 39 10% 99%;

    --border: 39 50% 24%;
    --input: 39 50% 24%;

    --primary: 39 100% 80%;
    --primary-foreground: 39 10% 8%;

    --secondary: 39 50% 24%;
    --secondary-foreground: 39 10% 99%;

    --accent: 39 50% 24%;
    --accent-foreground: 39 10% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 39 10% 99%;

    --ring: 39 100% 80%;
  }
}


*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto;
}

img, picture, svg, video, canvas{
  vertical-align: middle; 
}

img, picture, svg, video, canvas{
  font-style: italic; 
}

img, picture, svg, video, canvas{
  background-repeat: no-repeat; 
  background-size: cover;
}

input, button, textarea, select{
  font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

 /* For More Info: https://github.com/Lazzzer00/Best-CSS-Reset-2024 */